.dsmeta-red-btn {

    height: 45px;
    width: 45px;
    background: rgba(255, 190, 11, 0.1);
    border: 1px solid #ffbe0b;
    border-radius: 10PX;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.dsmeta-red-btn img {

    height: 21px;
    width: 18px; 

}